.employer-login-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  background-color: #050505; 
}

.employer-login-header {
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #0ef106; 
  margin-bottom: 1.5rem;
}

.employer-login-form {
  display: flex;
  flex-direction: column;
}

.employer-login-input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.employer-login-input:focus {
  border-color: #007bff;
  outline: none;
}

.employer-login-button {
  padding: 10px 15px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #d7d5e2;
  background-color:  #5c5b555e;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.employer-login-button:hover {
  background-color: #542ce6;
}

.employer-error-message {
  color: #e74c3c;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
}

@media (max-width: 600px) {
  .employer-login-container {
    padding: 15px;
  }

  .employer-login-input, .employer-login-button {
      color: #ffffff;
      background-color: #333;
      border-color: #444;
  }
}
