 .footer {
  background-color: cae9ff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  border-top: 1px solid #e7e7e7;
}

.footer-section {
  flex: 1;
  margin: 20px;
  min-width: 200px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section p, .footer-section a {
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-bottom {
  padding: 10px;
  background-color: #e7e7e7;
  border-top: 1px solid #ccc;
}

.social-media a {
  margin: 0 10px;
  color: #333;
  font-size: 24px;
  text-decoration: none;
}

.social-media a:hover {
  color: #007bff;
}
.social-media a .fa-instagram:hover {
  color: #f70e38;
}